<!-- Accordion example -->

<div class="page-example">

  <p> Example </p>

  <div accordion class="accordion">
    <p accordion-title class="accordion-title"> Accordion title (click me!) </p>
    <div accordion-content class="accordion-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam sint, numquam, perspiciatis nisi sunt totam temporibus eos autem error vel reiciendis natus, enim laudantium quis rem laborum blanditiis. </p>

        <div accordion class="accordion">
          <p accordion-title class="accordion-title"> Sub - Accordion title (click me!) </p>
          <div accordion-content class="accordion-content">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam sint, numquam, perspiciatis nisi sunt totam temporibus eos autem error vel reiciendis natus, enim laudantium quis rem laborum blanditiis. </p>

              <div accordion class="accordion">
                <p accordion-title class="accordion-title"> Sub Sub - Accordion title (click me!) </p>
                <div accordion-content class="accordion-content">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quidem ipsam sint, numquam, perspiciatis nisi sunt totam temporibus eos autem error vel reiciendis natus, enim laudantium quis rem laborum blanditiis. </p>
                </div>
              </div>
          </div>
        </div>

    </div>
  </div>

  <div accordion class="accordion">
    <p accordion-title class="accordion-title"> Accordion title (click me!) </p>
    <div accordion-content class="accordion-content">
      Acordion content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam rem animi illo debitis tenetur doloribus nesciunt eius nobis nam pariatur dolorem exercitationem minima aliquam reiciendis fugiat in, libero facilis harum!
    </div>
  </div>

</div>
