<div class="page-example">
  
  <h4 class="page-section"> Example </h4>

  <div class="grid-content">
    <div class="su-element col-2-12"> 2-12 </div>
    <div class="su-element col-2-12"> 2-12 </div>
  </div>

  <div class="grid-content">
    <div class="su-element col-3-12"> 3-12 </div>
    <div class="su-element col-3-12"> 3-12 </div>
    <div class="su-element col-3-12"> 3-12 </div>
  </div>

  <div class="grid-content">
    <div class="su-element col-4-12"> 4-12 </div>
    <div class="su-element col-4-12"> 4-12 </div>
    <div class="su-element col-4-12"> 4-12 </div>
    <div class="su-element col-4-12"> 4-12 </div>
  </div>

  <div class="grid-content">
    <div class="su-element col-5-12"> 5-12 </div>
    <div class="su-element col-5-12"> 5-12 </div>
    <div class="su-element col-5-12"> 5-12 </div>
    <div class="su-element col-5-12"> 5-12 </div>
    <div class="su-element col-5-12"> 5-12 </div>
  </div>

  <div class="grid-content">
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
  </div>

</div>
