<footer class="footer">
  made by Carlos Costa (C4co)
</footer>

<script src="@@localbower_components/SyntaxHighlighter/scripts/XRegExp.js"></script>
<script src="@@localbower_components/SyntaxHighlighter/scripts/shCore.js"> </script>
<script src="@@localbower_components/SyntaxHighlighter/scripts/shBrushJScript.js"> </script>
<script src="@@local@bower_components/SyntaxHighlighter/scripts/shBrushSass.js"> </script>
<script src="@@localbower_components/SyntaxHighlighter/scripts/shBrushCss.js"> </script>
<script src="@@localbower_components/SyntaxHighlighter/scripts/shBrushXml.js"> </script>

<script >
   SyntaxHighlighter.all();
   SyntaxHighlighter.defaults.toolbar = false;
   SyntaxHighlighter.defaults[ "tab-size" ] = 2;
</script>

<script src="@@localdist/vendors.js"></script>
<script src="@@localdist/bundle.js"></script>

</body>
</html>
