<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Suippets</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="@@localdist/css/style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../app/icons/style.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github-gist.min.css">

</head>
<body>

<header class="header"> 
	<button class="btn open-menu"> Menu </button>
</header>
