<a class="logo" href="/suippets/">
  <img src="@@localapp/img/logo.svg" alt="logo">
</a>

<nav class="sidebar-menu">
  <p class="sidebar-menu-title"> Javascript </p>
  <a href="/suippets/pages/expander.html" class="sidebar-menu-item"> Expander </a>
  <a href="/suippets/pages/modal.html" class="sidebar-menu-item"> Modal </a>
  <a href="/suippets/pages/tabs.html" class="sidebar-menu-item"> Tabs </a>
  <a href="/suippets/pages/dropdown.html" class="sidebar-menu-item"> Dropdown </a>
  <a href="/suippets/pages/drawer.html" class="sidebar-menu-item"> Drawer </a>
  <a href="/suippets/pages/alert.html" class="sidebar-menu-item"> Alert </a>
  <a href="/suippets/pages/notification.html" class="sidebar-menu-item"> Notification </a>
  <a href="/suippets/pages/upload-button.html" class="sidebar-menu-item"> Upload button </a>

  <p class="sidebar-menu-title"> Pure CSS </p>
  <a href="/suippets/pages/radio.html" class="sidebar-menu-item"> Radio </a>
  <a href="/suippets/pages/checkbox.html" class="sidebar-menu-item"> Checkbox </a>
  <a href="/suippets/pages/level-menu.html" class="sidebar-menu-item"> Level menu </a>
  <a href="/suippets/pages/table.html" class="sidebar-menu-item"> Table </a>
  <a href="/suippets/pages/switch.html" class="sidebar-menu-item"> Switch </a>
  <a href="/suippets/pages/type.html" class="sidebar-menu-item"> Type </a>
  <a href="/suippets/pages/form.html" class="sidebar-menu-item"> Form </a>
  <a href="/suippets/pages/buttons.html" class="sidebar-menu-item"> Buttons </a>
  <a href="/suippets/pages/tooltip.html" class="sidebar-menu-item"> Text Tooltip </a>
  <a href="/suippets/pages/select-buttons.html" class="sidebar-menu-item"> Select buttons </a>
</nav>