<!-- Offcanvas example -->

<div class="page-example">

  <p> Example </p>

  <button offcanvas-target="1" type="button" class="btn"> Open offcanvas #1 </button>
  <button offcanvas-target="2" type="button" class="btn"> Open offcanvas #2 </button>

  <div offcanvas-wrapper="1" class="offcanvas">
    <div offcanvas-content class="offcanvas-content">
      Offcanvas #1
    </div>
  </div>

  <div offcanvas-wrapper="2" class="offcanvas">
    <div offcanvas-content class="offcanvas-content">
      Offcanvas #2
    </div>
  </div>

</div>
