@@include("parts/header.html", {"local": "../"})

  <main class="main">
    <section class="sidebar">
      @@include("parts/sidebar.html", {"local": "../"})
    </section>

    <section class="center">
      <div class="container">
        <h1 class="page-title"> Checkbox </h1>
      
        <p> HTML / CSS </p>

        @@include("components/checkbox/example.html")
        @@include("components/checkbox/code.html", {"local": "../"})
      </div>
    </section>
  </main>

@@include("parts/footer.html", {"local": "../"})
