<!-- checkbox example -->

<div class="page-example">

  <p> Example </p>
  <form action="#">

    <input id="default" type="checkbox" checked> </input>
    <label for="default"> Default Checkbox :( </label>
    <br>
    <input class="form-checkbox" id="check1" type="checkbox" checked> </input>
    <label for="check1"> Styled Checkbox (checked) </label>
    <br>
    <input class="form-checkbox" id="check2" type="checkbox"> </input>
    <label for="check2"> Styled Checkbox (unchecked) </label>
    <br>
    <input class="form-checkbox" id="check3" type="checkbox" disabled=""> </input>
    <label for="check3"> Styled Checkbox (Disabled) </label>

  </form>

</div>
