/* ==========================================================================
   alert
   ========================================================================== */

.alert{
  position: relative;
  margin: 10px 0 10px 0;
  padding: 8px 40px 10px 20px;
  border-radius: 2px;
}

.alert-danger{
  color: #fff;
  background: #de5050;
}

.alert-info{
  color: #fff;
  background: #39f;
}

.alert-success{
  color: #fff;
  background: #099;
}

.alert-warnning{
  color: #fff;
  background: #ef963e;
}

.alert-remove{
  transition: opacity .1s linear 0s;
  opacity: 0;
}

.alert-close{
  position: absolute;
  top: 0;
  right: 0;
  display: inline block;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

.icon-home{
  font-size: 11px;
  position: absolute;
  top: 16px;
  left: 10px;
  margin: 0 !important;
  opacity: .4;
  color: #000;
}
