/* ==========================================================================
   Notification
   ========================================================================== */

@keyframes show{
  0%{
    top: -30px;
    opacity: 0;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}

.notification-wrapper{
  position: fixed;
  z-index: 999;
  top: 0;
}

.notification{
  position: relative;
  width: 260px;
  margin: 10px 10px 10px 10px;
  padding: 10px 15px 10px 15px;
  animation-name: show;
  animation-duration: .2s;
  color: #fff;
}

.notification-info{
  background: #3297fc;
}

.notification-success{
  background: #099;
}

.notification-error{
  background: #de5050;
}

.notification-warnning{
  background: #ef963e;
}

.notification-normal{
  background: #000;
}
