/* ==========================================================================
   Tabs
   ========================================================================== */

.tab-titles{
  display: flex;
}

.tab-title{
  width: 100%;
  margin: 0;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  border: solid black 1px;
  border: solid #dfdfdf 1px;
  background: #f2f2f2;
}

.tab-title-activated{
  color: #fff;
  border: solid #3193cb 1px;
  background: #3193cb;
}

.tab-content{
  padding: 20px;
  border: solid #dfdfdf 1px;
  border-top: none;
}
