<!-- buttons example -->

<div class="page-example">

	<h4 class="page-section"> Example </h4>

  <p> 
    Lorem ipsum dolor sit amet, consectetur <a href="#" class="tooltip" tooltip-message="http://google.com"> Google </a> adipisicing elit. Suscipit ut voluptate, magnam doloribus similique reiciendis ratione facilis, architecto non distinctio assumenda error <a href="#" class="tooltip" tooltip-message="Hello!"> Tooltip (Hover me!) </a> aut unde vel cumque est. Pariatur, voluptatem ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt quasi vitae odit, eligendi ipsum non accusamus! Cum quod fugit labore asperiores dignissimos perferendis dolores, vitae quae assumenda odit! Odio.
  </p>
 
</div>
