<p> Code </p>

<div class="wrap-code">
  <p> Javascript ES5 / jQuery</p>
  <pre class="class-name: 'code'; brush: js;">
    function dropdown() {
      var allDropdown = $( "[dropdown]" ).not( "pre [dropdown]" );
      var allDropdownContent = allDropdown.find( "[dropdown-content]" );
      var $document = $( document );
      var eventType = "click";

      allDropdown.each(function( index, element ) {
        var dropdownContent = $( element ).find( "[dropdown-content]" );
        var dropdownTarget = $( element ).find( "[dropdown-target]" );

        dropdownContent.hide();

        dropdownTarget.on( eventType, function( event ) {
          event.stopPropagation();
          allDropdownContent.not( dropdownContent ).hide();
          dropdownContent.fadeToggle( 50, "linear" );
        });
      });

      allDropdownContent.on( eventType, function( event ) {
        event.stopPropagation();
      });

      $document.on( eventType, function() {
        allDropdownContent.fadeOut( 200, "linear" );
      });
    }
  </pre>
</div>

<div class="wrap-code">
  <p> HTML </p>
  <pre class="class-name: 'code'; brush: xml;">

    <!-- Basic markup -->

    <div dropdown>
      <p dropdown-target> ... </p>
      <div dropdown-content> ... </div>
    </div>

    <!-- Markup of example -->

    <div dropdown class="dropdown">
      <button class="btn" dropdown-target> Click me! </button>
      <div dropdown-content class="dropdown-content"> ... </div>
    </div>

    <div dropdown class="dropdown">
      <button class="btn" dropdown-target> Click me! </button>
      <div dropdown-content class="dropdown-content"> ... </div>
    </div>

  </pre>
</div>

<div class="wrap-code">
  <p> CSS </p>
  <pre class="class-name: 'code'; brush: css;">
    .dropdown{
      position: relative;
      display: inline-block;
    }

    .dropdown-content{
      width: 300px;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: 0px;
      background: #3193cb;
      z-index: 1;
      color: #ffffff;
      top: 52px;
      padding: 20px;
      border-radius: 3px;
    }

    .dropdown-content::after{
      bottom: 100%;
      left: 25px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #074b71;
      border-width: 9px;
      margin-left: -9px;
    }
  </pre>
</div>
