<!-- dropdown example -->

<div class="page-example">

  <h4 class="page-section"> Example </h4>

  <div dropdown class="dropdown">
    <button class="btn" dropdown-target> Click me! </button>
    <div dropdown-content class="dropdown-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel mollitia rerum, reprehenderit sequi sint neque soluta assumenda ab minima qui nostrum aspernatur ullam tenetur aliquid aperiam quibusdam voluptates numquam commodi.
    </div>
  </div>

  <div dropdown class="dropdown">
    <button class="btn" dropdown-target> Click me! </button>
    <div dropdown-content class="dropdown-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel mollitia rerum, reprehenderit sequi sint neque soluta assumenda
    </div>
  </div>

</div>
