/* ==========================================================================
   Center
   ========================================================================== */

body, html{
  overflow-x: hidden;
}

.main{
  width: 100%;
  min-height: 1000px;
  display: flex;
}

.center{
  width: 100%;
  padding: 20px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.footer{
  border-top: solid #dedede 1px;
  padding: 20px 8px 20px 8px;
  color: #999999;
  text-align: center;
  font-size: 0.9em;
}
