/* ==========================================================================
   Center
   ========================================================================== */

body, html{
  overflow-x: hidden;
}

.main{
  width: 100%;
  min-height: 1000px;
  display: flex;
}

.center{
  width: 100%;
  padding: 20px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}