/* ==========================================================================
   Center
   ========================================================================== */

.main{
  width: 100%;
  min-height: 2000px;
  display: flex;
}

.sidebar{
  width: 200px;
  border-right: solid rgb(223, 223, 223) 1px;
  flex-shrink: 0;
}

.center{
  width: 100%;
  padding: 20px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}
