/* ==========================================================================
   Header
   ========================================================================== */

.header{
	height: 70px;
	border-bottom: solid #dedede 1px;
	display: none;
	padding: 15px;
}

@media all and (max-width: 800px){ 
  .header{
    display: block;
  }
}