/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar{
  width: 200px;
  border-right: solid rgb(223, 223, 223) 1px;
  flex-shrink: 0;
}

.toggle-sidebar{
  display: block !important;
}

.logo{
  width: 80%;
  margin: 40px auto 50px auto;
  padding: 0px;

  img{
    width: 100px;
    height: 100%;
    margin: 0 auto 0 auto;
    display: block;
  }
}

.sidebar-menu{
  width: 120px;
  min-height: 200px;
  margin: 0 auto 0 auto;
}

.sidebar-menu-title{
  margin: 30px 0 10px 0;
  font-weight: bold;
}

.sidebar-menu-item{
  cursor: pointer;
  display: block;
}

@media all and (max-width: 800px){ 
  .sidebar{
    display: none;
  }
}