/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar{
  width: 200px;
  flex-shrink: 0;
  border-right: solid #dedede 1px;
}

.toggle-sidebar{
  display: block !important;
}

.logo{
  width: 120px;
  margin: 50px auto 50px auto;
  padding: 0px;
  display: block;

  img{
    display: block;
    width: 70px;
  }
}

.sidebar-menu{
  width: 120px;
  min-height: 200px;
  margin: 0 auto 0 auto;
}

.sidebar-menu-title{
  margin: 30px 0 10px 0;
}

.sidebar-menu-item{
  cursor: pointer;
  display: block;
  max-width: auto;
}

@media all and (max-width: 800px){ 
  .sidebar{
    display: none;
  }
}