/* ==========================================================================
   Center
   ========================================================================== */

body,
html{
  overflow-x: hidden;
}

.main{
  display: flex;
  width: 100%;
  min-height: 500px;
}

.center{
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
