/* ==========================================================================
   Center
   ========================================================================== */

.footer{
  padding: 20px 40px 20px 40px;
  text-align: left;
  color: #a8a8a8;
  border-top: solid #e5e5e5 1px;
}
