/* ==========================================================================
   Home
   ========================================================================== */

.home-logo{
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto 0 auto;
}

.home-description{
  margin: 30px 0 0 0;
  text-align: center;
}
