/* ==========================================================================
   Page
   ========================================================================== */

.page-title{
  font-weight: normal;
  margin: 20px 0 50px 0;
}

.page-section{
  font-size: 1.1em;
  margin: 0 0 30px 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  color: #099;
  border-bottom: solid #e5e5e5 1px;
}

.page-example{
  margin: 0 0 40px 0;
}

.code{
  font-size: 13px;
  position: relative;
  overflow: auto;
  width: 100%;
  margin: 0 0 30px 0;
  border: solid #f1f1f1 4px;
  border-radius: 4px;
  background: #fdfdfd;

  pre{
    margin: 0;
    padding: 20px;
  }
}

.code-title{
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  border-bottom: solid #f1f1f1 4px;
}
