<div tabs>
  <div class="tab-titles">
    <p tab-title="1" class="tab-title"> First </p>
    <p tab-title="2" class="tab-title"> Second </p>
    <p tab-title="3" class="tab-title"> Thrid </p>
  </div>

  <div tab-content="1" class="tab-content">
    <h4> First content </h4>
    First content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium 
  </div>

  <div tab-content="2" class="tab-content">
    <h4> Second content </h4>
    Second content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
  </div>

  <div tab-content="3" class="tab-content">
    <h4> Thrid content </h4>
    Thrid content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
  </div>
</div>
