<h1> Header 1 </h1>
<h2> Header 2 </h2>
<h3> Header 3 </h3>
<h4> Header 4 </h4>
<h5> Header 5 </h5>
<h6> Header 6 </h6>

<hr>

<p>
  Paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing
  elit. Optio, placeat temporibus ad, cum vel aperiam doloremque
  cupiditate laudantium excepturi possimus at doloribus repudiandae
  saepe incidunt tenetur, sit assumenda tempore repellendus? Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Culpa totam
  tempore aspernatur, quisquam dolor quo quia eius doloremque est
  reprehenderit officia temporibus, alias eveniet laborum magnam
  dolorem optio cupiditate dignissimos?
</p>

<hr>

<a href="#"> Link - lorem ipsum </a> <br>
<b> bold - lorem ipsum </b> <br>
<i> italic - lorem ipsum </i> <br>
<small> small - lorem ipsum </small>

<hr>

<blockquote>
  Citation - Lorem ipsum dolor sit amet, consectetur adipisicing
  elit. Optio, placeat temporibus ad, cum vel aperiam doloremque
</blockquote>

<hr>

<ul>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
</ul><br/>
<ol>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
  <li>Lorem ipsum dolor</li>
</ol><br/>
<dl>
  <dt>Lorem ipsum</dt>
  <dd>- dolor sit amet</dd>
  <dt>Lorem ipsum</dt>
  <dd>- dolor sit ametr</dd>
  <dt>Lorem ipsum</dt>
  <dd>- dolor sit ametr</dd>
</dl>
