/* ==========================================================================
   Grid layout
   ========================================================================== */

$layout-divider: 12;
$layout-mobile-break-point: 680px;

.grid-layout:before,
.grid-layout:after {
  display: table;
  content: '';
}

.grid-layout:after {
  clear: both;
}

.grid-layout {
  clear: both;
  zoom: 1;
  margin: 0;
  padding: 0;

  .row {
    display: block;
    float: left;
  }

  .row:first-child {
    margin-left: 0;
  }

  @for $index from 1 through 12 {
    .col-#{$index}-12 {
      width: calc(#{$index} / #{$layout-divider} * 100%);
      display: block;
      float: left;
    }
  }

  @media all and (max-width: $layout-mobile-break-point) {
    @for $index from 1 through 12 {
      .col-#{$index}-12 {
        width: 100%;
      }
    }
  }
}
