/* ==========================================================================
   Dropdown
   ========================================================================== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  width: 300px;
  margin: 0;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  background: #3193cb;
  z-index: 10;
  transition: visibility 0.2s linear 0s, top 0.2s linear 0s, opacity 0.2s linear 0s;
  opacity: 0;
}

.dropdown-content.dropdown-hidden{
  visibility: hidden;
  top: 72px;
  opacity: 0;
}

.dropdown-content.dropdown-activated{
  visibility: visible;
  top: 52px;
  opacity: 1;
}

.dropdown-content::after {
  position: absolute;
  bottom: 100%;
  left: 25px;
  width: 0;
  height: 0;
  margin-left: -9px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 9px;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #074b71;
}
