<p> Code </p>

<div class="wrap-code">
  <p> Javascript ES5 / jQuery</p>
  <pre class="class-name: 'code'; brush: js;">
    function modal() {
      var body = $( "body" );
      var $window = $( window );
      var modalTargets = $( "[modal-target]" ).not( "pre [modal-target]" );
      var modalWrappers = $( "[modal-wrapper]" ).not( "pre [modal-wrapper]" );
      var modalContent = $( "[modal-content]" ).not( "pre [modal-content]" );

      modalWrappers.detach().addClass( "modal-hidden" ).appendTo( "html" );

      function openModal( modalWrapper ) {
        modalWrapper.removeClass("modal-hidden").addClass("modal-actived");
        body.css({ "overflow-y": "hidden" });
      }

      function hideModal( modalWrapper ) {
        modalWrapper.addClass("modal-hidden").removeClass("modal-actived");
        body.css({ "overflow-y": "scroll" });
      }

      modalTargets.each(function( index, element ) {
        var target = $( element );
        var targetIndex = $( element ).attr("modal-target");
        var modalWrapper = $( "[modal-wrapper=" + targetIndex + "]" );
        var modalClose = modalWrapper.find("[modal-close]");
        var modalContent = modalWrapper.find( "[modal-content]" );

        target.on("click", function() {
          openModal( modalWrapper );
        });

        modalContent.on( "click", function( event ) {
          event.stopPropagation();
        });

        modalWrapper.on("click", function() {
          hideModal( modalWrapper );
        });

        modalClose.on("click", function() {
          hideModal( modalWrapper );
        });

        $window.on( "keydown", function( event ) {
          if ( event.keyCode == 27 ) {
            hideModal( modalWrapper );
          }
        });
      });
    };
  </pre>
</div>

<div class="wrap-code">
  <p> HTML </p>
  <pre class="class-name: 'code'; brush: xml;">

    <!-- Basic markup -->

    <button modal-target="1"> ... </button>
    <div modal-wrapper="1" class="modal-wrapper">
      <div modal-content class="modal-content"> ... </div>
    </div>

    <!-- Markup of example -->

    <button class="btn" modal-target="1"> Open modal 1 </button>
    <button class="btn" modal-target="2"> Open modal 2 </button>
    <button class="btn" modal-target="1"> Open modal 1 </button>

    <div modal-wrapper="1" class="modal-wrapper">
      <div modal-content class="modal-content">
        ...
        <button modal-close class="btn" type="button"> Close modal </button>
      </div>
    </div>

    <div modal-wrapper="2" class="modal-wrapper">
      <div modal-content class="modal-content">
        ...
        <button modal-close class="btn" type="button"> Close modal </button>
      </div>
    </div>

  </pre>
</div>

<div class="wrap-code">
  <p> CSS </p>
  <pre class="class-name: 'code'; brush: css;">
    .modal-wrapper {
      position: fixed;
      top: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 0 20px 0 20px;
      visibility: hidden;
    }

    .modal-wrapper.modal-hidden {
      transition: background .2s linear .2s, visibility 0s linear .4s;
      background-color: rgba(#000, 0);
      visibility: hidden;
    }

    .modal-wrapper.modal-actived {
      transition: background .2s linear 0s;
      background-color: rgba(#000, .7);
      visibility: visible;
    }

    .modal-content{
      max-width: 800px;
      padding: 30px;
      border-radius: 7px;
      background: #fff;
      transition: all .4s cubic-bezier(.68,-0.55,.27,1.55) 0s;
    }

    .modal-hidden .modal-content {
      margin: -100px auto 0 auto;
      opacity: 0;
      box-shadow: 0 0 30px rgba(#080808, 0.65);
    }

    .modal-actived .modal-content {
      margin: 60px auto 60px auto;
      opacity: 1;
      box-shadow: 0 0 30px rgba(#080808, 0.65);
    }
  </pre>
</div>
