<button class="btn" modal-target="1"> Open modal 1 </button>
<button class="btn" modal-target="2"> Open modal 2 </button>
<button class="btn" modal-target="1"> Open modal 1 </button>

<div modal-wrapper="1" class="modal-wrapper">
  <div modal-content class="modal-content">
    <h1> Modal 1 </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Dolore repellat iste repudiandae! Assumenda, velit, 
      accusantium. Quisquam molestiae, nemo assumenda. 
      Consectetur ullam totam necessitatibus quaerat sapiente atque 
      voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur 
    </p>
    <button modal-close class="btn" type="button"> Close modal </button>
  </div>
</div>

<div modal-wrapper="2" class="modal-wrapper">
  <div modal-content class="modal-content">
    <h1> Modal 2 </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Dolore repellat iste repudiandae! Assumenda, velit, 
      accusantium. Quisquam molestiae, nemo assumenda. 
      Consectetur ullam totam necessitatibus quaerat sapiente atque 
      voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur 
    </p>
    <button modal-close class="btn" type="button"> Close modal </button>
  </div>
</div>