<!-- modal example -->

<div class="page-example">

  <p> Example </p>

  <button class="btn" modal-target="1"> Open modal 1 </button>
  <br>
  <button class="btn" modal-target="2"> Open modal 2 </button>
  <br>
  <button class="btn" modal-target="1"> Open modal 1 </button>

  <div modal-wrapper="1">
    <div modal-content class="modal-content">
      <h1> Modal 1 </h1>
      <br>
      <p>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore repellat iste repudiandae! Assumenda, velit, accusantium. Quisquam molestiae, nemo assumenda. Consectetur ullam totam necessitatibus quaerat sapiente atque voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatum unde ipsum, velit nesciunt, totam maiores vel, autem neque iure ea nam magnam vitae voluptatem! Totam quos, vel natus quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quos eum non natus, commodi, eligendi voluptatibus odit deleniti earum, illo eveniet possimus ducimus omnis eaque expedita odio autem hic quas.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore repellat iste repudiandae! Assumenda, velit, accusantium. Quisquam molestiae, nemo assumenda. Consectetur ullam totam necessitatibus quaerat sapiente atque voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatum unde ipsum, velit nesciunt, totam maiores vel, autem neque iure ea nam magnam vitae voluptatem! Totam quos, vel natus quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quos eum non natus, commodi, eligendi voluptatibus odit deleniti earum, illo eveniet possimus ducimus omnis eaque expedita odio autem hic quas.
      </p>

      <button modal-close class="btn" type="button"> Close modal </button>
    </div>
  </div>

  <div modal-wrapper="2">
    <div modal-content class="modal-content">
      <h1> Modal 2 </h1>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore repellat iste repudiandae! Assumenda, velit, accusantium. Quisquam molestiae, nemo assumenda. Consectetur ullam totam necessitatibus quaerat sapiente atque voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatum unde ipsum, velit nesciunt, totam maiores vel, autem neque iure ea nam magnam vitae voluptatem! Totam quos, vel natus quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quos eum non natus, commodi, eligendi voluptatibus odit deleniti earum, illo eveniet possimus ducimus omnis eaque expedita odio autem hic quas.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore repellat iste repudiandae! Assumenda, velit, accusantium. Quisquam molestiae, nemo assumenda. Consectetur ullam totam necessitatibus quaerat sapiente atque voluptatem amet eos eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatum unde ipsum, velit nesciunt, totam maiores vel, autem neque iure ea nam magnam vitae voluptatem! Totam quos, vel natus quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quos eum non natus, commodi, eligendi voluptatibus odit deleniti earum, illo eveniet possimus ducimus omnis eaque expedita odio autem hic quas.
      </p>

      <button modal-close class="btn" type="button"> Close modal </button>
    </div>
  </div>

</div>
