<!-- Expander example -->

<div class="page-example">

  <h4 class="page-section"> Example </h4>

  <div expander class="expander">
    <p expander-title class="expander-title"> Expander title (click me!) </p>
    <div expander-content class="expander-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quisquam deserunt veniam, quos quibusdam laudantium laboriosam reiciendis libero, sunt odit ratione corrupti, doloremque ipsam officia consequuntur hic magnam pariatur. Deserunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel similique dignissimos reiciendis quidem ipsam laboriosam ex deserunt enim, laudantium culpa aut corrupti quos iste laborum assumenda hic placeat quo quia!
    </div>
  </div>

</div>
