<form action="#">
  <input type="radio" name="foo" id="radio0" checked>
  <label for="radio0"> Default Radio :( </label>
  <br>
  <input class="form-radio" type="radio" name="foo" id="radio1" checked>
  <label for="radio1"> Styled Radio 1 </label>
  <br>
  <input class="form-radio" type="radio" name="foo" id="radio2">
  <label for="radio2"> Styled Radio 2 </label>
  <br>
  <input class="form-radio" type="radio" name="radio2" id="radio2" disabled="">
  <label for="radio2"> Styled Radio (disabled) </label>
</form>
