<!--  Form examples -->

<div class="page-example">
  <p> Example </p>

  <form action="">

    <fieldset>
      <legend> Legend </legend>

      <label> Input text </label>
      <input class="form-control" type="text" placeholder="Placeholder"/>

      <label> Input password </label>
      <input class="form-control" type="password" placeholder="Placeholder" value="132456789"/>

      <label> Input Number </label>
      <input class="form-control" type="number" placeholder="Placeholder"/>

      <label> Disable input </label>
      <input class="form-control" type="password" placeholder="Placeholder" disabled=""/>

      <label> Select </label>
      <select class="form-select">
        <option> First </option>
        <option> Second </option>
        <option> Thrid </option>
      </select>

      <label>Text area </label>
      <textarea class="form-control" placeholder="insert a value"></textarea>

      <input class="form-checkbox" id="first-check" type="checkbox"/>
      <label for="first-check"> Checkbox </label>

      <br/>

      <input class="form-checkbox" id="second-check" type="checkbox" disabled />
      <label for="second-check"> Disabled checkbox </label>

      <br/>

      <input class="form-radio" id="primeiro-radio" type="radio" name="foo"/>
      <label for="primeiro-radio"> Radio </label>

      <br/>

      <input class="form-radio" id="segundo-radio" type="radio" name="foo" disabled />
      <label for="segundo-radio"> Disabled radio </label>

      <br><br>
      <input type="file" class="form-control-file">
      <br><br>
      <button class="btn"> Submit </button>
    </fieldset>

  </form>

</div>
