/* ==========================================================================
   Button
   ========================================================================== */

//Button normal
$button-border-color: #ccc;
$button-border-color-hover: #797979;
$button-background: #fff;
$button-background-active: #f2f2f2;
$button-color: #747474;
//Disabled button
$button-disabled-background: #f2f2f2;

button,
input[type=submit] {
  appearance: none;
}

.btn {
  font-family: inherit;
  font-size: .96em;
  line-height: 0;
  display: inline-block;
  min-width: 70px;
  height: 35px;
  margin: 0 0 5px 0;
  padding: .99rem .99rem 1.2rem .99rem;
  cursor: pointer;
  transition: border .1s linear 0s;
  text-align: center;
  vertical-align: middle;
  color: $button-color;
  
  border: solid 1px $button-border-color;
  border-radius: 3px;
  background: $background-color;

  &:hover {
    text-decoration: none;
    border: solid 1px $button-border-color-hover;
    background: $background-color;
  }

  &:active {
    background: $button-background-active;
  }

}

a.btn {
  line-height: .13em;
}

button.btn[disabled],
a.btn[disabled],
input[type=submit].btn[disabled] {
  cursor: no-drop;
  background: $button-disabled-background;

  &:hover {
    border: solid $button-border-color 1px;
  }

}