/* ==========================================================================
   Table
   ========================================================================== */

$table-border-color: #e4e4e4;

.table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;

  td{
    width: 2%;
    padding: 10px 0 10px 0;
    border-bottom: solid $table-border-color 1px;
  }

  th{
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: left;
    border-bottom: solid $table-border-color 1px;
  }

  caption{
    font-weight: bold;
    margin: 0 0 -1px 0;
    padding: 10px 0 10px 0;
    border-bottom: solid $table-border-color 1px;
  }
}
