@@include("parts/header.html", {"local": "../"})

<main class="main">
  <section class="sidebar">
    @@include("parts/sidebar.html", {"local": "../"})
  </section>

  <section class="center">
    <div class="container">
      <h1 class="page-title"> Alerts </h1>
      
      <!-- <p> HTML / Sass / jQuery slim / <a targt="_blank" href="https://icomoon.io/app/#/select"> Icomoon </a></p> -->

      <div class="page-example">
        <h4 class="page-section"> Example </h4>
        @@include("components/alerts/example.html")
      </div>

      @@include("components/alerts/code.html", {"local": "../"})
    </div>
  </section>
</main>

@@include("parts/footer.html", {"local": "../"})
