<div class="alert alert-danger"> 
  Alerts danger 
  <div class="alert-close" alert-close> 
    <svg class="icon icon-home"><use xlink:href="./../app/icons/symbol-defs.svg#icon-cross"></use></svg>  
  </div>
</div>

<div class="alert alert-info"> 
  Alert info
  <div class="alert-close" alert-close> 
    <svg class="icon icon-home"><use xlink:href="./../app/icons/symbol-defs.svg#icon-cross"></use></svg>  
  </div>
</div>

<div class="alert alert-success"> 
  Alerts success 
  <div class="alert-close" alert-close> 
    <svg class="icon icon-home"><use xlink:href="./../app/icons/symbol-defs.svg#icon-cross"></use></svg>  
  </div>
</div>

<div class="alert alert-warnning"> 
  Alerts warnning 
  <div class="alert-close" alert-close> 
    <svg class="icon icon-home"><use xlink:href="./../app/icons/symbol-defs.svg#icon-cross"></use></svg>  
  </div>
</div>