<!-- tables example -->
<div class="page-example">
 	<p> Example </p>

<table class="table">
    <caption>Caption</caption>
    <thead>
      <tr>
        <th> First </th>
        <th> Second </th>
        <th> Third </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td> First </td>
        <td> Second </td>
        <td> Third </td>
      </tr>
      <tr>
        <td> First </td>
        <td> Second </td>
        <td> Third </td>
      </tr>
      <tr>
        <td> First </td>
        <td> Second </td>
        <td> Third </td>
      </tr>
    </tbody>
</table>

</div>
