<div class="page-example">
  <p> Example </p>

  <div class="grid-layout">
    <div class="su-element col-1-12"> 1-12 </div>
    <div class="su-element col-11-12"> 11-12 </div>
  </div>

  <div class="grid-layout">
    <div class="su-element col-2-12"> 2-12 </div>
    <div class="su-element col-10-12"> 10-12 </div>
  </div>

  <div class="grid-layout">
    <div class="su-element col-3-12"> 3-12 </div>
    <div class="su-element col-9-12"> 9-12 </div>
  </div>

  <div class="grid-layout">
    <div class="su-element col-4-12"> 4-12 </div>
    <div class="su-element col-8-12"> 8-12 </div>
  </div>

  <div class="grid-layout">
    <div class="su-element col-5-12"> 5-12 </div>
    <div class="su-element col-7-12"> 7-12 </div>
  </div>

  <div class="grid-layout">
    <div class="su-element col-6-12"> 6-12 </div>
    <div class="su-element col-6-12"> 6-12 </div>
  </div>

</div>
