<!-- dropdown example -->

<div class="page-example">

  <h4 class="page-section"> Example </h4>

  <nav class="menu">
    <ul class="menu-lv1">

      <li class="menu-lv1-item"> <a href="#"> First ▾ </a>

        <ul class="menu-lv2">
          <li class="menu-lv2-item"> <a href="#">Sub first 1 ▸ </a>

            <ul class="menu-lv3">
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 1-1 </a> </li>
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 1-2 </a> </li>
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 1-3 </a> </li>
            </ul>

          </li>
          
          <li class="menu-lv2-item"> <a href="#">Sub first 2</a>

            <ul class="menu-lv3">
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 2-1 </a> </li>
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 2-2 </a> </li>
              <li class="menu-lv3-item"> <a href="#"> Sub sub first 2-3 </a> </li>
            </ul>

          </li>
          <li class="menu-lv2-item"> <a href="#">Sub first 3</a> </li>
        </ul>

      </li>

      <li class="menu-lv1-item"> <a href="#"> Second </a> </li>
      <li class="menu-lv1-item"> <a href="#"> Thrid </a> </li>
    </ul>
  </nav>

</div>
