/* ==========================================================================
   Menu
   ========================================================================== */

.level-menu{
  width: 100%;
  background: #3193cb;
}

.level-menu ul{
  padding: 0;
  list-style: none;
}

/* Level 1
   ========================================================================== */
.menu-lv1{
  display: flex;
}

.menu-lv1-item{
  position: relative;
}

.menu-lv1-item:hover,
.menu-lv1-item:hover .menu-lv2{
  visibility: visible;
  background: #27729d;
}

.menu-lv1-item > a{
  display: block;
  width: 90px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* Level 2
   ========================================================================== */
.menu-lv2{
  position: absolute;
  z-index: 10;
  visibility: hidden;
  width: 150px;
}

.menu-lv2-item{
  position: relative;
}

.menu-lv2-item:hover,
.menu-lv2-item:hover > .menu-lv3{
  display: block;
  background: #222;
}

.menu-lv2-item > a{
  display: block;
  width: 100%;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
  color: #fff;
}

/* Level 3
  ========================================================================== */
.menu-lv3{
  position: absolute;
  top: 0;
  left: 150px;
  display: none;
  width: 200px;
}

.menu-lv3-item > a{
  display: block;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
  color: #999;
}

.menu-lv3-item > a:hover{
  color: #fff;
  background: #000;
}
